<post-heading text="A graph defines what functions or results to compute. It doesn't actually compute anything, or hold any values, just defines what to compute."></post-heading>

Example of a graph:<br/>
<img src="assets/images/graph-1.png" style="width: 400px; height: 300px;" />
<br/>
Tensorflow code example:


<code-run pre-code="import tensorflow as tf

" code="import tensorflow as tf

# Declare variables (with initial values)
x = tf.Variable(3, name='x')
y = tf.Variable(4, name='y')

# Graph node to compute
f = (x * x * y) + y + 2
" post-code="init = tf.global_variables_initializer()

with tf.Session() as sess:
    init.run()
    result = f.eval()" output="42"></code-run>

x, y, f in above example are graph nodes.
<br/>
<h3>Variable initialization</h3>
<h4>1. One by one</h4>
<code-run pre-code="" code="import tensorflow as tf

# Declare variables (with initial values)
x = tf.Variable(3, name='x')
y = tf.Variable(4, name='y')

# Instantiate x and y
with tf.Session() as sess:
    x.initializer.run()
    y.initializer.run()" post-code="" output=""></code-run>

<br/>
<h4>2. Using global initializer</h4>
<code-run pre-code="" code="import tensorflow as tf

# Declare variables (with initial values)
x = tf.Variable(3, name='x')
y = tf.Variable(4, name='y')

init = tf.global_variables_initializer()

# Instantiate x and y
with tf.Session() as sess:
    init.run()" post-code="" output=""></code-run>