@import '../../styles.scss';

.ix-header {
    font-size: small;
    padding: 5px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

span {
    vertical-align: middle;
}

button {
    background-color: blue;
}

.logo {
    margin: 1px;
    margin-left: 20px;
    vertical-align: middle;
    margin-top: 7px;
}

.logo-link-img {
  display: table-cell;
  vertical-align: middle;
}

img {
  margin-top: 0px;
  margin-bottom: 0px;
}

.logo-img {
  width: 70px;
  display: block;
}

/* 3D menu */

@import url(https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700);
* {
  box-sizing: border-box;
}

nav {
  font-size: 14px;
  line-height: 10px;
  text-align: right;
}
nav ul {
  list-style: none;
  margin-bottom: 0px;
}
nav ul li {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
nav ul li a {
  display: inline-block;
  padding: 0.9rem;
  padding-top: 0.5rem;
  color: $secondary-color;
  text-decoration: none;
  transition: transform 0.3s ease 0s;
  transform-origin: 50% 0px 0px;
  transform-style: preserve-3d;
}
nav ul li a.current {
  color: #FFF;
}
nav ul li a:hover {
  color: #FFF;
  transform: rotateX(90deg) translateY(-22px);
}
nav ul li a::before {
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  text-align: center;
  line-height: 25px;
  color: #FFF;
  content: attr(data-hover);
  transition: #6363CE 0.3s ease 0s;
  transform: rotateX(-90deg);
  transform-origin: 50% 0px 0px;
  font-size: 16px;
}

fa-icon {
  font-size: 16px;
}

fa-icon:hover {
  color: white;
}