<div class="ix-header">
  <div class="row">
    <div class="col-lg-2" class="logo">
      <a target="_self" class="logo-link-img" href="/"><img class="logo-img" (click)="gotoHome()" src="assets/images/logo3.jpg"
          alt="ixTutor.com" /></a>
    </div>
    <div class="col-lg-8">
      <nav>
        <ul>
          <li>
            <a (click)="sectionLoadEvent('')" target="_self" [ngClass]="getClass('home')" href="{{getRouterLink('')}}"
              data-hover="Home">
              <fa-icon [icon]="faHome"></fa-icon>
            </a></li>
          <li><a (click)="sectionLoadEvent('learn-tensorflow')" target="_self" [ngClass]="getClass('learn-tensorflow')"
              href="{{getRouterLink('learn-tensorflow')}}" data-hover="Tensorflow">Tensorflow</a></li>
          <!-- Disable deep learning for the time being
          <li><a (click)="sectionLoadEvent('deep-learning')" target="_self" [ngClass]="getClass('deep-learning')"
              routerLink="{{getRouterLink('deep-learning')}}" data-hover="Deep Learning">Deep Learning</a></li>
          -->
          <li><a (click)="sectionLoadEvent('about')" target="_self" [ngClass]="getClass('about')" href="{{getRouterLink('about')}}"
            data-hover="About">About</a></li>
          <li><a (click)="sectionLoadEvent('live-editor')" target="_self" [ngClass]="getClass('live-editor')" href="{{getRouterLink('live-editor')}}"
            data-hover="Live Editor">Live Editor</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
