<div class="footer">
  <div class="footer-main">
    <br />
    <b>footer stuff</b>
    <hr class="hr-below-footer" /><br />
  </div>

  <div class="row">
    <!-- Newsletter -->
    <div class="col-lg-6" style="text-align: center; line-height: 1em; padding: 10px;">
      <fa-icon [icon]="faEnvelope"></fa-icon>
      Newsletter
      <br /><br />
      <small>We're constantly creating easy to understand tutorials from the cutting edge ML research. <br />Stay up to
        date by subscribing to our newsletter.</small>
      <br /><br />
      <app-newsletter-form></app-newsletter-form>
    </div>

    <!-- Social side of it-->
    <div class="col-lg-6" style="text-align: center">
      <fa-icon [icon]="faGlobe"></fa-icon>
      Social
      <br />
      <div style="text-align: center; font-size: 32px;">
        <a href="https://www.facebook.com/ixtutor/">
          <fa-icon [icon]="faFacebookSquare"></fa-icon>
        </a>&nbsp;&nbsp;
        <a href="https://twitter.com/IxTutorAI">
          <fa-icon [icon]="faTwitterSquare"></fa-icon>
        </a>&nbsp;&nbsp;
        <a href="https://www.reddit.com/user/ixtutor">
          <fa-icon [icon]="faRedditSquare"></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <br />
  <div class="footer-bottom-strip">
    <small><a href="https://ixtutor.com">© Copyright 2019-20 ixtutor.com.</a> All rights reserved. You can copy code examples
      without permission or attribution. Contact: ixtutor.machine.learning@gmail.com</small>
  </div>
</div>
