@import "../../styles.scss";

.footer {
    background-color: #B3E5FC;
    color: $main-color;
    text-align: center;
}
.footer-main {
    text-align: center;
}

.footer-bottom-strip {
    background-color: rgb(133, 214, 252);
    color: white;
    text-align: center;
    line-height: 1em;
    padding: 5px;
}

.footer-bottom-strip a {
    color: white;
    font-weight: bold;
}

.hr-below-footer {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), $main-color, rgba(0, 0, 0, 0));
    height: 1px;
    border: 0;
    width: 20%;
}