<div class="context">
  <h2>Made with ❤️ by Sanjay Verma</h2>
  <a href="https://www.linkedin.com/in/swebdev/"><u>Linkedin</u></a>
  | sanjay.verma.nitk@gmail.com
</div>

<div class="credits">
      <small>
      More credits: Code pens by<a href="https://codepen.io/nikhil8krishnan/pen/vyXxNj"> Nikhil Krishnan</a>
       and <a href="https://codepen.io/mohaiman/pen/MQqMyo">Mohammad Abdul Mohaiman</a> 
      Icons made by <a href="https://www.freepik.com/" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> are licensed under <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY.</a>
    </small>
</div>

<div class="area" >
      <ul class="circles">
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
              <li></li>
      </ul>
</div>
