
A Tensorflow operation (a.k.a. op) can take any number of inputs and produce any number of outputs.

<li>Addition and multiplication ops take two inputs and produce one output.</li>
<li>Constants and variables take no input. They are called source ops.</li>
<li><b>Tensors</b>: The inputs and outputs to tensorflow ops are called tensors (multidimensional arrays). They have a type and shape.</li>
<br/>
<question-answer question="Tensors can contain," [options]="['Only integer or fractional values (float, double, int etc.)', 'Strings, and integer or fractional values', 'Arbitrary byte arrays, strings, and integer or fractional values', 'None of these']" answer=3 answer-explanation="Tensors typically contain floats, but they can carry strings, or any arbitrary byte arrays."
></question-answer>