@import "../../../../styles.scss";

.note-container {
    background-color: $secondary-color;
    border-left: 5px solid $main-color;
    padding: 5px;
    padding-left: 20px;
    border-radius: 3px;
    box-shadow: $widget-shadow;
    font-size: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}