<div class="tutorial-post">
  <br />
  <div class="row">
    <div class="col-lg-9">
      <span class="tutorial-series-heading"><i>Learn Tensorflow by Examples</i> Series - Part <b>{{selectedPartId}}</b></span>
      <h1 class="part-title">{{getTitle()}}</h1>
    </div>
    <div class="col-lg-3 nav-buttons">
      <a class="a-nav-btn" *ngIf="!isFirstPart()" [routerLink]="getPreviousLink()">
        <button class='btn-part-nav'>&lt; Previous</button>&nbsp;&nbsp;
      </a>
      <a class="a-nav-btn" *ngIf="!isLastPart()" [routerLink]="getNextLink()">
        <button class='btn-part-nav'>Next &gt;</button>&nbsp;&nbsp;
      </a>
    </div>
  </div>

  <div>
    <span class="share-icons">
    <a [href]="getShareUrl('fb')"><fa-icon class="fa-share-icon" [icon]="faFacebook"></fa-icon></a>
    <a [href]="getShareUrl('twtr')"><fa-icon class="fa-share-icon" [icon]="faTwitter"></fa-icon></a>
    <a [href]="getShareUrl('mail')"><fa-icon class="fa-share-icon" [icon]="faEnvelope"></fa-icon></a>
  </span>
    <!-- the separator -->
    <button (click)="navigateToPostEditor()" type="button" class='btn-part-nav btn-edit-post'><fa-icon class="fa-share-icon" [icon]="faEdit"></fa-icon>Edit this post</button>
  </div><br/>

  <div class="row" align="left">
    <div class="col-lg-1"></div>
    <div class="col-lg-9">
      <router-outlet class="tutorial-router"></router-outlet>
      <hr />

      <div class="row nav-buttons">
        <div class="col-lg-4">
            <div class="share-icons" style="text-align: left">Share this tutorial<br/>
                <a [href]="getShareUrl('fb')"><fa-icon class="fa-share-icon-small" [icon]="faFacebook"></fa-icon></a>
                <a [href]="getShareUrl('twtr')"><fa-icon class="fa-share-icon-small" [icon]="faTwitter"></fa-icon></a>
                <a [href]="getShareUrl('mail')"><fa-icon class="fa-share-icon-small" [icon]="faEnvelope"></fa-icon></a>
              </div>
        </div>
        <div class="col-lg-8" style="text-align: right">
          <a class="a-nav-btn" *ngIf="!isFirstPart()" [routerLink]="getPreviousLink()">
            <button class='btn-part-nav'>&lt; Previous</button>&nbsp;&nbsp;
          </a>
          <a class="a-nav-btn" *ngIf="!isLastPart()" [routerLink]="getNextLink()">
            <button class='btn-part-nav'>Next &gt;</button>&nbsp;&nbsp;
          </a></div>
      </div>
      <hr/>
      <div class="row share-icons">
          <div class="col-lg-3" style="">Subscribe to our newsletter: </div>
          <div class="col-lg-9" style="text-align: left"><app-newsletter-form></app-newsletter-form></div>
      </div>

      <div class="row">
          <div id="disqus_thread"></div>
          <script>
          
          /**
          *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
          *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
          /*
          var disqus_config = function () {
          this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
          this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };
          */
            (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://ixtutor-com.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
            })();
          </script>
          <noscript>Please enable JavaScript to view the comments.</noscript>
      </div>

    </div>
  </div>


</div>
