@import "../../../styles.scss";

.tutorial-post {
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.btn-part-nav {
    color: $main-color;
    padding: 8px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.btn-edit-post {
    padding: 3px;
    padding-right: 20px;
    padding-left: 10px;
}
.nav-buttons {
    text-align: right;
}

.align-right {
    float: right;
}

.a-nav-btn {
    text-decoration: none;
}

.btn-part-nav:hover {
    box-shadow: 0px 0px 5px 1px gray;
    color: white;
    background-color: $main-color;
}

.btn-part-nav:focus {
    outline: 0px;
}

.part-title {
    color: black;
    text-align: left;
}

.share-icons {
    color: $main-color;
}

.fa-share-icon {
    padding: 10px;
    padding-right: 30px;
    font-size: 24px;
}

.fa-share-icon-small {
    padding: 10px;
    padding-right: 30px;
    font-size: 16px;
}
.tutorial-series-heading{
	text-align: center;
	color: #333;
	opacity: 0.4;
    font: 14px 'Bitter';
}