<form *ngIf="status == SubscriptionStatus.INITIAL" [formGroup]="newsletterForm" (ngSubmit)="onSubmit()">
  <input name="email" formControlName="email" size=35 placeholder="your-email@example.com" class="subscribe-input" type="text" />&nbsp;
  <button class="blue-button" type="submit">
    <fa-icon [icon]="faAt"></fa-icon> Subscribe
  </button>
</form>

<span *ngIf="status == SubscriptionStatus.WORKING">Subscription in progress <fa-icon [pulse]="true" [icon]="faCog"></fa-icon></span>
<span *ngIf="status == SubscriptionStatus.SUBSCRIBED">Subscription succeeded. You will receive a welcome email soon.
  <br /><button style="width: 150px" class="blue-button" (click)="reset()">
    <fa-icon [icon]="faAt"></fa-icon> Subscribe another
  </button>
</span>

<span *ngIf="status == SubscriptionStatus.ERROR"><span [innerHTML]="error"></span>
  <br /><button style="width: 150px" class="blue-button" (click)="retry()">
    Try again
  </button>&nbsp;
  <button style="width: 150px" class="blue-button" (click)="reset()">
    Reset
  </button>
</span>
