@import './../../styles.scss';

button.blue-button {
    color: $main-color;
    border: 1px $main-color solid;
    border-radius: 5px;
    padding: 0px;
    width: 100px;
    height: 33px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
    outline: none;
}

button.blue-button:hover {
    border: 1px $main-color solid;
    box-shadow: $widget-shadow;
    background: $main-color;
    color: white;
}

.subscribe-input {
    border-radius: 5px;
    border: 1px $main-color solid;
    outline: none;
    padding: 5px;
    height: 33px;
}
