<h1>Data science tips and tricks</h1> 

<h3>1. Shuffling arrays and dividing into batches</h3>
<code-run code="import numpy as np
from random import random

X = [..] # Feature array
y = [..] # Label array

shuffle_indexes = random.permutation(len(X))
X_batches = np.array_split(X[shuffle_indexes], n_batches)
y_batches = np.array_split(y[shuffle_indexes], n_batches)
"></code-run>
<br/>
<h3>2. Iterating over two arrays simultaneously</h3>
Use <i>zip</i>,
<code-run code="X_batches = [..] # Feature array
y_batches = [..] # Label array

for X_batch, y_batch in zip(X_batches, y_batches):
    sess.run(training_op, feed_dict: {X: X_batch, y: y_batch})
"
