<post-heading text="Tensorflow is a powerful open source library for large-scale machine learning from Google. In this tutorial, we'll be discuss the basic principle of Tensorflow, with a code example."></post-heading>

Tensorflow is,<br/>
<ul style="line-height: 150%">
  <li>A numerical computation library well suited for deep learning applications.</li>
  <li>Modular and actively maintained.</li>
  <li>Allows parallelization and efficient usage of available hardware. Supports distributed computing.</li>
  <li>Powers many of Google’s large-scale services, including Search, Photos, Cloud Speech etc.</li>
  <li>Comes with a great visualization tool called Tensorboard.</li>
  <li>Easy to install, with PIP: <b>pip3 install –upgrade tensorflow</b></li>
</ul>
<br/>
<h6>Code example:
</h6>

<code-run pre-code="" code="import tensorflow as tf

# Declare variables (with initial values)
x = tf.Variable(3, name='x')
y = tf.Variable(4, name='y')

# Function (i.e. graph) to compute
f = (x * x * y) + y + 2

'''
Till this point no actual computation will be done
if we run the code, we just have declared a 
computation graph. 
Even the variables are not acutally initialized yet.
Let's start the computation using a tensorflow session!
'''

# Create session
sess = tf.Session()

# Initialize variables
sess.run(x.initializer)
sess.run(y.initializer)

# Evaluate result
result = sess.run(f)
print(result)"
  post-code="" output="42"></code-run>

Couple of things to notice:
<ul>
  <li>When we define a graph node, e.g. f = (x * x * y) + y + 2, Tensorflow doesn’t compute the value of <i>f</i> immediately, it just knows how to compute it. This is the <b>basic principle of Tensorflow</b> (i.e., separation of declaration and execution).</li>
  <li>Tensorflow graphs are computed under a session, and are needed to be explicitly run with session.run() function. A session is an isolated environment which hold the state of variables and graphs being computed. If a new session is created, the previous values are cleared up (except in distributed computing).</li>
  <li>Tensorflow variables and graphs require explicit declaration.</li>
</ul>

<question-answer question="Which of these can be a potential advantage of separation of declaration and execution?" 
[options]="['It allows interfacing with other libraries including scikit-learn.', 'The separation gives Tensorflow an opportunity to break up the graph into chunks and run them parallely across GPUs and CPUs.', 'It just looks fancy and different.', 'None of these']" answer=2 answer-explanation="The separation gives Tensorflow an opportunity to break up the graph into chunks and run them parallely across GPUs and CPUs (called devices), if those are available. Graphs trained this way can also be saved to disk and loaded later."></question-answer>
