<post-heading text="You need to create a session in order to compute a graph. A session provides a kind of environment for holding variable values and intermediate results, and computing graph nodes. Computation resources are only allocated within a session."></post-heading>

There are couple of ways of creating a session.
<br/>
<h2>Using tf.Session()</h2>

<code-run pre-code="import tensorflow as tf

# Declare variables (with initial values)
x = tf.Variable(3, name='x')
y = tf.Variable(4, name='y')

# Function to compute
f = (x * x * y) + y + 2

'''
Till this point the code doesn't perform 
any computation, it just has declared a 
computation graph. 
Even the variables are not initialized yet.
Let's run it. 
'''"

code="# Create session
sess = tf.Session()

# Initialize variables
sess.run(x.initializer)
sess.run(y.initializer)

# Evaluate result
result = sess.run(f)
print(result)" post-code="" output="42"></code-run>

<h2>Using a 'with' operator</h2>

<code-run pre-code="import tensorflow as tf

# Declare variables (with initial values)
x = tf.Variable(3, name='x')
y = tf.Variable(4, name='y')

# Function to compute
f = (x * x * y) + y + 2

" code="with tf.Session() as sess:
    x.initializer.run()
    y.initializer.run()
    result = f.eval()

print(result)" post-code="" output="42"></code-run>

<h2>Using interactive session</h2>

<code-run pre-code="import tensorflow as tf

# Declare variables (with initial values)
x = tf.Variable(3, name='x')
y = tf.Variable(4, name='y')

# Function to compute
f = (x * x * y) + y + 2" code="'''
Tensorflow can also be run in interactive mode,
which sets the default global session.
'''

sess = tf.InteractiveSession()

init.run()
result = f.eval()
print(result)

# Note that you're required to close the session in interactive mode
sess.close()" post-code="" output="42"></code-run>

Interactive sessions are less common and are generally used for quick experiments.