@import "../../styles.scss";

$menu-item-margin-bottom: 5px;

.main-container {
    padding: 0px;
    justify-content: center;
    border-top-left-radius: 5px;
}

div {
    line-height: 150%;
}

.inner-container {
    text-align: left;
}

.sidebar-index {
    font-size: 100px;
    color: $main-color;
}

.sidebar-element {
    border: 1px lightgray solid;
    border-top: 0px;
}

.sidebar-element-col-description {
    display: flex;
    align-items: center; 
}

.sidebar-title {
    font-weight: 700;
    color: $main-color;
    font-size: 14px;
    font-family: Arial, "Lucida Console", Monaco, monospace;
    margin-block-start: 0em;
    margin-block-end: 0em;
    padding: 15px;
    padding-left: 20px;
    background-color: $secondary-color;
    border: 1px lightgray solid;
    font-weight: bold;
}

.sidebar-menu-item-selected {
    color:$main-color; 
    background-color: $secondary-color;
    box-shadow: 0px 0px 8px -2px gray;
}

.sidebar-menu-item:hover {
    color:$main-color; 
    transition: background-color 0.5s ease;
}

.a-menu-item:hover {
    text-decoration: none;
}

.menu-item-div {
    font-size: 15px;
}