<div class="container-fluid main-container">
  <div class="inner-container">
    <h6 class="sidebar-title">
      <b>TENSORFLOW COOKBOOK</b>
    </h6>

    <div class="container">
        <div [ngClass]="getMenuItemClass(partId)" *ngFor="let partId of getPartIds(); let i = index">
            <div class="col-sm-4 sidebar-index sidebar-element-col">
              <a class="a-menu-item" [routerLink]="getRouterLink(partId)">{{i+1}}</a>
            </div>

            <div class="col-sm-8 sidebar-element-col-description">
              <a class="a-menu-item" [routerLink]="getRouterLink(partId)">{{getPartTitle(partId)}}</a>
            </div>
        </div>
    </div>
  </div>
</div>