<div class="container-fluid root-container">
  <div class="row ix-header">
    <div class="col-lg-12">
      <my-header></my-header>
    </div>
  </div>
  
  <div class="row" style="min-height: 100vh;">
    <div *ngIf="showSidebar()" class="col-lg-2 sidebar">
      <app-sidebar [title]="title"></app-sidebar>
    </div>

    <div class="{{getClass()}}" style="background-color: white;">
      <div class="row">
        <div class="col">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 ix-footer">
      <footer></footer>
    </div>
  </div>
</div>