@import "../../styles.scss";

.root-container {
    margin: 0px; 
    margin-bottom: 0px; 
    box-shadow: 0px 0px 2px gray;
    border-radius: 5px;
}

.center-container {
    position: absolute;
    width: 100%;
    top:2em;
  }

.ix-header {
    background-color: $main-color
}

.ix-footer {
    padding: 0px;
}

.sidebar {
    z-index: 1; 
    padding: 0px; 
    padding-left: 0px;
    max-width: 250px;
    min-width: 250px;
    margin: 20px;
    border-radius: 5px;
}
