.editor {
    width: 100%; 
    height: 100vh;
    overflow-y: scroll;
    outline: none;
    font-size: 14px;
    line-height: 120%;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
}

.tutorial-post {
    height: 100vh;
    overflow-y: scroll;
}