@import url('https://fonts.googleapis.com/css?family=PT+Sans');

/* You can add global styles to this file, and also import other style files */
$main-color: #0483e5;
$secondary-color: #f1f1f15e;

$widget-shadow: 0px 0px 10px -2px lightgray;

.tutorial-post {
    text-align: left;
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    line-height: 200%;
}

body {
    font-family: 'PT Sans', sans-serif;
}

img {
    margin-top: 20px;
    margin-bottom: 20px;
}

h3 {
    margin-top:20px;
    margin-bottom: 20px;
}