@import './../../styles.scss';

.heading {
    text-shadow: 0px 0px 5px $main-color; 
    color: $main-color;
}

.btn-action {
    border-radius: 5px; 
    outline: none; 
    cursor: pointer;
    background-color: $main-color;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.btn-action:hover {
    color: $main-color;
    background-color: $secondary-color;
    box-shadow: 0px 0px 20px -2px $main-color;
    font-weight: bold;
}

.code-box {
    padding: 20px; 
    padding-top: 5%;
    height: 100vh;
    box-shadow: 0px 0px 20px -2px $main-color;
}