<div class="row">
  <div class="col-lg-8" style="margin: 0px; text-align: center; vertical-align: middle; padding-top: 8%">
    <h1 class="heading">THE WORLD IS ABOUT TO CHANGE - AI IS HAPPENING</h1>
    <br /><br />
    <h5>Start learning about Machine Learning today. It’s fun & free of cost!</h5>
    <br />
    <button [routerLink]="getRouterLink('/learn-tensorflow')" class="btn-action">Learn Tensorflow</button>
  </div>
  <br /><br /><br />

  <div class="col-lg-4 code-box">
    Tensorflow code example:
    <code-run pre-code="" code="import tensorflow as tf

# Declare variables
x = tf.Variable(3, name='x')
y = tf.Variable(4, name='y')
      
# Function to compute
f = (x * x * y) + y + 2

with tf.Session() as sess:
    x.initializer.run()
    y.initializer.run()
    result = f.eval()
      
print(result)"
      post-code="" output="42"></code-run>
  </div>
  <svg style="margin-top: -25%; margin-bottom:0px" width="100%" height="409px" viewBox="0 0 100% 409" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <defs>
        <linearGradient x1="100%" y1="91.5371415%" x2="0%" y2="0%" id="linearGradient-1">
            <stop stop-color="#0483e5" offset="0%"></stop>
            <stop stop-color="#1EB5E0" offset="100%"></stop>
        </linearGradient>
    </defs>
    <g id="1.00-Homepage" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="1.00-Homepage-–-0-Idle" transform="translate(0.000000, -327.000000)" fill="url(#linearGradient-1)">
            <g id="Hero">
                <g id="waves-overlay" transform="translate(-66.000000, 326.000000)">
                    <path d="M66,46.3712861 C66,46.3712861 330,6.37128611 521,168.371286 C712,330.371286 793,102.371286 939,103.371286 C1085,104.371286 1117,275.371286 1275,275.371286 C1433,275.371286 1396,42.3712861 1611,46.3712861 C1826,50.3712861 1650,542.371286 1650,542.371286 L0,384.371286 L66,46.3712861 Z" id="Path-2" opacity="0.200000003"></path>
                    <path d="M20.3615996,9.55208236 C59.6969529,-23.9074506 220.723199,31.1041647 307.3616,207.552082 C394,384 463.3616,318.552082 563,242 C662.6384,165.447918 744.188439,189.550912 860,285 C951,360 1018,389 1132,295 C1246,201 1346,162 1527,360 C1708,558 1484.3616,503.552082 1484.3616,503.552082 L66.3615996,412.552082 C66.3615996,412.552082 -18.9737537,43.0116153 20.3615996,9.55208236 Z" id="Path" opacity="0.699999988"></path>
                    <path d="M200,338.041604 C200,338.041604 338,156.041604 571,247.041604 C804,338.041604 908,237.041604 955,184.041604 C1002,131.041604 1227,-77.9583964 1479,158.041604 C1731,394.041604 1401,513.041604 1401,513.041604 L172,380.041604 L200,338.041604 Z" id="Path" opacity="0.300000012"></path>
                </g>
            </g>
        </g>
    </g>
</svg>
</div>
